/* Footer Styles */

footer {
    background-color: #1b544f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
